* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid white; */
}

/* responsive */
@media screen and (min-width: 1200px) {
	/* 
=> palete warna
1. warna satu = #0e3658
2. warna dua = #ffffff
3. warna tiga= #29abf4
4. warna empat= #fc3c3c
5. warna lima = #165081
*/


	body {
		font-family: 'poppins', sans-serif;
	}

	.container {
		width: 100%;
	}

	nav {
		width: 100%;
		/* background-color: rgba(14, 54, 88, 0.10); */
		color: #ffffff;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 10;
	}

	.navbar {
		position: fixed;
	}

	.header {
		font-size: 2rem;
		font-weight: bold;
	}

	ul {
		padding-right: 30px
	}

	ul li {
		display: inline-block;
		padding: 0 15px;
	}

	.menu {
		font-weight: bold;
		transition: all 1s ease-out;
	}

	.menu1:hover {
		border-style: none none solid none;
		border-bottom-color: #fc3c3c;
	}



	.section-satu {
		width: 100%;
		min-height: 100%;
		/* background-color: #29abf4; */
		background-image: url(./gambar/bg-utama.png);
		background-size: cover;
		color: white;
		display: flex;
	}




	.judul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 35%;
		padding: 20px;
	}

	.paragraf-satu {
		text-align: center;
	}

	.span-satu {
		display: inline-block;
		margin-top: -5px;
	}

	.paragraf-satu,
	.span-satu {
		font-size: 4rem;
		font-weight: bold;
		text-shadow: 7px 5px 1px #fc3c3c;
	}

	.paragraf-dua {
		font-size: 1.5rem;
		text-shadow: 1px 1px 1px #fc3c3c;
	}

	.btn {
		width: 200px;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		background-color: #fc3c3c;
		color: white;
		font-size: large;
		border-radius: 20px;
		border: none;
		margin: 20px auto;
		transition: all 0.2s ease-in-out;
	}

	.btn:hover {
		color: rgba(255, 255, 255, 0.8);
		background-color: rgba(252, 60, 60, 0.8);
		transform: scale(1);
		border: none;
	}

	.sosmed {
		margin-top: 40%;
		margin-left: 50px;
	}



	.list-sosmed {
		display: flex;
	}

	.list-sosmed a {
		text-decoration: none;
		list-style: none;
		color: white;
	}


	.fab {
		font-size: 3em;
		transition: all 0.3s ease-in-out;
	}

	.fab:hover {
		color: #fc3c3c;
		transform: scale(1.1);
		text-shadow: 2px 2px 1px #ffffff;
	}



	.section-dua {
		width: 100%;
		min-height: 100%;
		background-color: #165081;
	}

	.section-tiga {
		width: 100%;
		min-height: 100%;
		background-color: #29abf4;
	}

	.section-empat {
		width: 100%;
		min-height: 100%;
		background-color: #fc3c3c;
	}

	footer {
		width: 100%;
		background-color: #010102;
		color: white;
		padding: 10px;
		min-height: 30%;
	}


}

@media screen and (min-width: 500px) {
	body {
		font-family: 'poppins', sans-serif;
		background-color: #29abf4;
	}

	.container {
		width: 100%;
	}


	.header {
		font-size: 2.5rem;
		font-weight: bold;
		text-align: center;
		color: #ffffff;
		padding: 5px;
	}

	.menu {
		display: none;
	}

	.section-satu {
		background-color: #29abf4;
		min-height: 100%;
	}

	.judul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.foto-profil {
		width: 200px;
		height: 200px;
		margin-top: 35px;
		background-image: url(./gambar/bg-utama.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: -50px 0px;
		border: 3px solid #fc3c3c;
		border-radius: 50%;
	}

	.foto-profil:hover {
		opacity: 0.2;

	}

	.paragraf-satu {
		text-align: center;
		margin-top: 20px;
		font-size: 2.7rem;
		font-weight: bold;
		color: #ffffff;
		text-shadow: 7px 5px 1px #fc3c3c;

	}

	.span-satu {
		display: block;
	}

	.paragraf-dua {
		font-size: 1.3rem;
		font-weight: bold;
		color: #165081;
	}

	.btn {
		background-color: #fc3c3c;
		border-radius: 30px;
		padding: 8px 20px;
		text-decoration: none;
		color: #ffffff;
		font-size: 1.1rem;
		margin-top: 30px;
		transition: all 0.3s ease-in;
	}

	.btn:hover {
		color: rgba(255, 255, 255, 0.8);
		background: linear-gradient(to right, #fc3c3c, #EC6F66);

		transform: scale(1.1);
		border: none;
	}

	.list-sosmed {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 30px 0px;
	}

	.list-sosmed li {
		list-style: none;
	}

	.list-sosmed li .fab {
		font-size: 3rem;
		padding: 10px;
		color: #ffffff;
		transition: all 0.3s ease-in;
	}

	.list-sosmed li .fab:hover {
		color: #fc3c3c;
		transform: scale(1.2);
		text-shadow: 2px 2px 1px #ffffff;
	}
}